@import url('https://fonts.googleapis.com/css2?family=PT+Sans&family=Roboto+Slab:wght@300&display=swap');
@charset"UTF8";

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: whitesmoke;
    font-family: 'PT Sans', sans-serif;
    font-size: 14px;
    text-align: left;
}

header{
    /*background-color: bisque;*/
    min-height: 80px;
    padding-top: 30px;
    padding-bottom: 20px;
    text-align: center;
}

nav{
    display: block;
  background-color: rgb(210, 226, 226);
    max-width: 800px;
    min-width: 300px;
    padding: 20px;
    border-radius: 10px;
    margin: auto;
  /*padding-top: 20px;
  padding-bottom: 20px;*/
  text-align: center;
}

nav ul{
    text-align: center;
}

nav a{
    padding: 10px;
    font-size: 15px;
}

main{
    background-color: white;
    max-width: 800px;
    min-width: 300px;
    padding: 20px;
    border-radius: 10px;
    margin: auto;
    /*box-shadow: 0px 0px 10px #00000095;*/
}
main a{
    text-align: left;
}
main p{
    margin: 0px 0px 10px 0px;
    line-height: 1.5em; /*espaçameto 1.5 pro texto não ficar grudado*/
    text-align: left;
}

main h3 {
    background-color: whitesmoke;
    border-radius: 10px;
    text-align: center;
    padding: 20px;
}

main h4 {
    background-color: whitesmoke;
    border-radius: 10px;
    text-align: center;
    padding: 10px;

}

a{
    text-decoration: none;
    color: rgb(0, 0, 0);
}
a:hover{
    background-color: lemonchiffon;
    border-radius: 5px;
}
ul{
    list-style-position: inside;
    text-align: left;
    container-type: square;
}
footer{
    background-color: rgb(210, 226, 226);
    font-size: 13px;
    text-align: center;
    padding: 20px;
    max-width: 800px;
    min-width: 300px;
    border-radius: 10px; /*deixar curvadinha a borda*/
    margin:auto;
}
footer p {
    line-height: 1.5em;
    padding: 10px; 
}