@import url('https://fonts.googleapis.com/css2?family=PT+Sans&family=Roboto+Slab:wght@300&display=swap');
@charset"UTF8";

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: whitesmoke;
    font-family: 'PT Sans', sans-serif;
    font-size: 14px;
}

header{
    min-height: 80px;
    padding-top: 30px;
    padding-bottom: 20px;
    text-align: center;
}

header a{
text-decoration: none;
color: black;
}

header a:hover{
    background-color: lemonchiffon;
    border-radius: 5px;
}

nav{
    margin: auto;
    background-color: rgb(210, 226, 226);
    max-width: 800px;
    padding: 20px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    text-align: center;
}

nav a{ /*colocar fora de nav ul li para fazer o hover*/
    padding:10px;
    text-decoration: none;
    color: black;
    font-size: 16px;
}

nav a:hover{
    background-color: lemonchiffon;
    border-radius: 5px;
}

nav ul li {
    display: inline; /*colocar na horizontal*/
    text-align: center;
    font-size: 15px;
}

img{
width: 100%;
}

main{
    background-color: white;
    max-width: 800px;
    min-width: 300px;
    padding: 20px;
    margin: auto;
    text-align: left;
    /*box-shadow: 0px 0px 10px #00000095;*/
}

main p{
    margin: 5px 0px 10px 0px; /*em cima, dir, em baixo, esq / sentido horário*/
    line-height: 1.5em; /*espaçameto 1.5 pro texto não ficar grudado*/
    text-align: left;
}

main h3 {
    background-color: whitesmoke;
    border-radius: 10px;
    text-align: center;
    padding: 20px;
}

main h4 {
    background-color: whitesmoke;
    border-radius: 10px;
    text-align: center;
    padding: 10px;
}

main a{
    text-decoration: none;
    color: black;
}

main a:hover{
    background-color: lemonchiffon;
    border-radius: 5px;
}

footer{
    margin: auto;
    background-color: rgb(210, 226, 226);
    font-size: 13px;
    text-align: center;
    padding: 10px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    
}

footer p {
    padding: 5px; 
}

/*resolução smartfone*/
@media (max-width:576px) {
   
    nav {
        padding: 0px;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        }
        
        nav a{
            text-decoration: none;
            padding: 0px;
        }

        nav ul {
            border-bottom: 2px solid rgb(209, 209, 209);
        }


    nav ul li a{
            display: block;
            text-align: center;
            font-size: 15px;
            padding: 6px;
            color: black;
            border-top: 2px solid rgb(209, 209, 209);
          }

}


